<a href="https://colab.research.google.com/github/frandalmolin/to-remember/blob/main/AnalitaDeDadosEBAC4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
%%writefile banco.csv
age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

Writing banco.csv

In [19]:
conteudo = None
with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
 conteudo = arquivo.read()
print(conteudo)

age,job,marital,education,default,balance,housing,loan
30,unemployed,married,primary,no,1787,no,no
33,services,married,secondary,no,4789,yes,yes
35,management,single,tertiary,no,1350,yes,no
30,management,married,tertiary,no,1476,yes,yes
59,blue-collar,married,secondary,no,0,yes,no
35,management,single,tertiary,no,747,no,no
36,self-employed,married,tertiary,no,307,yes,no
39,technician,married,secondary,no,147,yes,no
41,entrepreneur,married,tertiary,no,221,yes,no
43,services,married,primary,no,-88,yes,yes

In [23]:
conteudo = []

with open(file='./banco.csv', mode='r', encoding='utf8') as arquivo:
 linha = arquivo.readline()
 while linha:
  conteudo.append(linha)
  linha = arquivo.readline()

print(conteudo)

['age,job,marital,education,default,balance,housing,loan\n', '30,unemployed,married,primary,no,1787,no,no\n', '33,services,married,secondary,no,4789,yes,yes\n', '35,management,single,tertiary,no,1350,yes,no\n', '30,management,married,tertiary,no,1476,yes,yes\n', '59,blue-collar,married,secondary,no,0,yes,no\n', '35,management,single,tertiary,no,747,no,no\n', '36,self-employed,married,tertiary,no,307,yes,no\n', '39,technician,married,secondary,no,147,yes,no\n', '41,entrepreneur,married,tertiary,no,221,yes,no\n', '43,services,married,primary,no,-88,yes,yes\n']

In [26]:
for linha in conteudo:
  print(linha)

age,job,marital,education,default,balance,housing,loan

30,unemployed,married,primary,no,1787,no,no

33,services,married,secondary,no,4789,yes,yes

35,management,single,tertiary,no,1350,yes,no

30,management,married,tertiary,no,1476,yes,yes

59,blue-collar,married,secondary,no,0,yes,no

35,management,single,tertiary,no,747,no,no

36,self-employed,married,tertiary,no,307,yes,no

39,technician,married,secondary,no,147,yes,no

41,entrepreneur,married,tertiary,no,221,yes,no

43,services,married,primary,no,-88,yes,yes

In [27]:
idades = []

with open (file='./banco.csv', mode='r', encoding='utf8') as arquivo:
  linha = arquivo.readline()
  linha = arquivo.readline()
  while linha:
    linha_separada = linha.split(sep=',')
    idade = linha_separada[0]
    idade = int(idade)
    idades.append(idade)
    linha = arquivo.readline()

print(idades)

[30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

In [37]:
with open(file='idades.csv', mode='w', encoding='utf8') as fp:
  linha = 'idade' + '\n'
  fp.write(linha)
  for idade in idades:
    linha = str(idade) + '\n'
    fp.write(linha)

In [38]:
with open(file='idades.csv', mode='a', encoding='utf8') as fp:
 for idade in idades:
  linha = str(idade + 100) + '\n'
  fp.write(linha)

In [39]:
valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = valor_inicial
for ano in range(1, anos+1):
 valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(
 f'Para um valor inicial de R$ {valor_inicial} ' +
 ' e uma taxa de juros anual de {taxa_juros_anual}, ' +
 'em {anos} anos você terá R$ {valor_final}'
)
valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = valor_inicial
for ano in range(1, anos+1):
 valor_final = valor_final * (1 + taxa_juros_anual)
valor_final = round(valor_final, 2)
print(
 f'Para um valor inicial de R$ {valor_inicial} ' +
 'e uma taxa de juros anual de {taxa_juros_anual}, ' +
 'em {anos} anos você terá R$ {valor_final}'
)

Para um valor inicial de R$ 1000.0  e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}

In [51]:
def juros_compostos_anual (valor_inicial: float, taxa_juros_anual: float, anos: int) -> float:
  valor_final = valor_inicial
  for ano in range(1, anos+1):
    valor_final = valor_final * (1 + taxa_juros_anual)
  valor_final = round(valor_final, 2)
  print(f'Para um valor inicial de R$ {valor_inicial} ' +
 'e uma taxa de juros anual de {taxa_juros_anual}, ' +
 'em {anos} anos você terá R$ {valor_final}')
  return valor_final

valor_inicial, taxa_juros_anual, anos = 1000.00, 0.05, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

valor_inicial, taxa_juros_anual, anos = 1020.00, 0.03, 10
valor_final = juros_compostos_anual(valor_inicial=valor_inicial, taxa_juros_anual=taxa_juros_anual, anos=anos)

Para um valor inicial de R$ 1000.0 e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}
Para um valor inicial de R$ 1020.0 e uma taxa de juros anual de {taxa_juros_anual}, em {anos} anos você terá R$ {valor_final}

In [41]:
def imprime(mensagem: str):
  print(mensagem)

texto = 'Olá eu sou a Fran!'

imprime(mensagem=texto)

Olá eu sou a Fran!

In [42]:
def maiusculo(texto:str) -> str:
  text_maiusculo = texto.upper()
  return text_maiusculo

nome = 'Fran Santos'
print(nome)

nome_maiusculo = maiusculo(texto=nome)
print(nome_maiusculo)

Fran Santos
FRAN SANTOS

In [44]:
def extrair_usuario_email_provedor(email:str) -> (str, str):
  email_separado = email.split(sep='@')
  usuario = email_separado[0]
  provedor = email_separado[1]
  return usuario, provedor

email = 'fran.santos@gmail.com'
usuario,provedor = extrair_usuario_email_provedor(email=email)
print(usuario)
print(provedor)

fran.santos
gmail.com

In [45]:
def pi() -> float:
  return 3.14159265359

pi = pi()
print(pi)

3.14159265359

In [46]:
def escreve_arquivo_csv (nome:str, cabecalho:str, conteudos:list) -> bool:
  try:
    with open(file=nome, mode='w', encoding='utf8') as fp:
      linha = cabecalho + '\n'
      fp.write(linha)
      for conteudo in conteudos:
        linha = cabecalho + '\n'
        fp.write(linha)
        for conteudo in conteudos:
          linha = str(conteudo) + '\n'
          fp.write(linha)

  except Exception as exc:
    print(exc)
    return False

  return True


nome = 'idades-funcao-erro.csv'
cabecalho = 'idade'
conteudos = [30, 33, 35, 30, 59, 35, 36, 39, 41, 43]

escreveu_com_sucesso =escreve_arquivo_csv(nome=nome, cabecalho=cabecalho, conteudos=conteudos)
print(escreveu_com_sucesso)

True

In [55]:
def soma_lista (numeros:list) -> int:
  s = 0
  for numero in numeros:
    s = s + numero
  return s

soma = soma_lista(numeros = [2] * 20)
print(soma)

40