<a href="https://colab.research.google.com/github/frandalmolin/to-remember/blob/main/AnalistaDeDadosEBAC3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if True:
  print('verdadeiro');
else:
  print('falso');

In [ ]:
codigo_de_seguranca = '010';
codigo_de_seguranca_cadastro = '010';
pode_efetuar_pagamento= codigo_de_seguranca == codigo_de_seguranca_cadastro;


if pode_efetuar_pagamento:
  print('Pagamento efetuado com sucesso!');
else:
  print('Erro: código de segurança inválido');


if codigo_de_seguranca == codigo_de_seguranca_cadastro:
  print('Pagamento efetuado com sucesso!');
else:
  print('Erro: código de segurança inválido');

In [ ]:
codigo_de_seguranca = '852';
codigo_de_seguranca_cadastro = '822';

senha = '7783';
senha_cadastro = '7783';

if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print('Pagamento efetuado!');
else:
  print('Pagamento não efetuado.');

if (codigo_de_seguranca != codigo_de_seguranca_cadastro) | (senha != senha_cadastro):
  print('Pagamento não efetuado!');
else:
  print('Pagamento efetuado.');

In [ ]:
codigo_de_seguranca = '852';
codigo_de_seguranca_cadastro = '852';

senha = '773';
senha_cadastro = '773';

if (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print('Pagamento efetuado!');
elif (codigo_de_seguranca != codigo_de_seguranca_cadastro) & (senha == senha_cadastro):
  print('Pagamento não efetuado! Código de segurança inválido.');
elif (codigo_de_seguranca == codigo_de_seguranca_cadastro) & (senha != senha_cadastro):
  print('Pagamento não efetuado! Senha inválida.');
else:
  print('Pagamento não efetuado! Código de segurança inválido e senha inválida.');

In [ ]:
preco = 132.85;
pessoas = 0;

valor_por_pessoa = preco / pessoas;

print(valor_por_pessoa);

In [ ]:
preco = 132.85;
pessoas = 0;

try:
  valor_por_pessoa = preco / pessoas;
  print(valor_por_pessoa);
except ZeroDivisionError:
  print('Número de pessoas inválido!');

In [ ]:
nome = 'Andre';
idade = 19;

apresentacao = 'Boa tarde! meu nome é ' + nome + 'e eu tenho ' + idade + 'anos.';

print(apresentacao);

In [ ]:
nome = 'Andre';
idade = 19;

try:
  apresentacao = 'Boa tarde! Meu nome é ' + nome + 'e eu tenho ' + idade + ' anos.';
  print(apresentacao);
except TypeError:
  idade = str(idade);
finally:
  print('Segunda chance');
  apresentacao = 'Boa tarde! Meu nome é ' + nome + 'e eu tenho ' + idade + ' anos.';
  print(apresentacao);

In [ ]:
anos = [2019, 2020, 2021];
ano_atual = anos[3];

print(ano_atual);

In [ ]:
anos = [2019, 2020, 2021];

try:
  ano_atual = anos[3];
  print(ano_atual);
except Exception:
  print('Lista de anos menor do que o ano escolhido.');

In [ ]:
anos = [2019, 2020, 2021];

try:
  ano_atual = anos[3];
  print(ano_atual);
except IndexError:
  print('Lista de anos menor do que o ano escolhido.');
except Exception as exc:
  print(exc);
  print('Erro genérico.')

In [ ]:
for valor in range(6):
  print(valor);

In [ ]:
soma = 0;

for valor in range(0, 10):
  soma = soma + valor;

print(soma);

In [ ]:
for multiplo_dois in range (2, 10, 2):
  print(multiplo_dois);

In [ ]:
frutas = ['maçã', 'banana', 'laranja', 'uva', 'pêra'];

for fruta in frutas:
  print(fruta);

In [ ]:
frase = 'Fala pessoal, eu sou a Fran.';

for caracter in frase:
  if (caracter == 'F') | (caracter == 'n'):
    print(f'A letra "{caracter}" está presenhte na frase');

In [ ]:
credito = {'123': 750, '456': 812, '789': 980};

for chave, valor in credito.items():
  print(f'Para o documento {chave}, o valor do score de crédito é {valor}.');
  print('\n');


for chave in credito.keys():
  print(chave);
  print(credito[chave]);

for chave in credito.values():
  print(valor);

In [ ]:
for i in range(0, 10*10*10*10*10*10):
  print(i);
  if i == 10:
    break;

In [ ]:
numero = 3;

if numero % 2 == 0:
  print( f'o número {numero} é par');
else:
  print( f'o número {numero} é impar');

In [ ]:
numeros = [361, 553, 194, 13, 510, 33, 135];

for numero in numeros:

  if numero % 2 == 0:
    print( f'o número {numero} é par');
    break;
  else:
    print( f'o número {numero} é impar');

In [ ]:
numeros = [361, 553, 194, 13, 510, 33, 135];

for numero in numeros:

  if numero % 2 == 0:
    print( f'o número {numero} é par');
    break;
  else:
    continue
    print( f'o número {numero} é impar');

Exercícios

In [24]:
propaganda_online = [
 {
 'tempo_gasto_site': 68.95, 'idade': 35,
 'renda_area': 61833.90, 'tempo_gasto_internet': 256.09,
 'cidade': 'Wrightburgh', 'pais': 'Tunisia',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 80.23, 'idade': 31,
 'renda_area': 68441.85, 'tempo_gasto_internet': 193.77,
 'cidade': 'West Jodi', 'pais': 'Nauru',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 69.47, 'idade': 26,
 'renda_area': 59785.94, 'tempo_gasto_internet': 236.50,
 'cidade': 'Davidton', 'pais': 'San Marino',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 68.37, 'idade': 35,
 'renda_area': 73889.99, 'tempo_gasto_internet': 225.58,
 'cidade': 'South Manuel', 'pais': 'Iceland',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': 88.91, 'idade': 33,
 'renda_area': 53852.85, 'tempo_gasto_internet': 208.36,
 'cidade': 'Brandonstad', 'pais': 'Myanmar',
 'clicou_no_ad': 0
 },
 {
 'tempo_gasto_site': None, 'idade': 48,
 'renda_area': 24593.33, 'tempo_gasto_internet': 131.76,
 'cidade': 'Port Jefferybury', 'pais': 'Australia',
 'clicou_no_ad': 1
 },
 {
 'tempo_gasto_site': 74.53, 'idade': 30,
 'renda_area': 68862.00, 'tempo_gasto_internet': 221.51,
 'cidade': 'West Colin', 'pais': 'Grenada'
 },
 {
 'tempo_gasto_site': 69.88, 'idade': 20,
 'renda_area': 55642.32, 'tempo_gasto_internet': 183.82,
 'cidade': 'Ramirezton', 'pais': 'Ghana',
 'clicou_no_ad': 0
 }
]

paises = [];

for dado in propaganda_online:
  if dado['idade'] > 30:
    paises.append(dado['pais']);
print(paises);


leads = [];

for dado in propaganda_online:
    renda = dado['renda_area'];
    leads.append(renda);
print(leads);


cidades = [];

for dado in propaganda_online:
  if dado['tempo_gasto_site'] != None:
    if dado['tempo_gasto_site'] > 70:
      cidades.append(dado['cidade']);
print(cidades);

['Tunisia', 'Nauru', 'Iceland', 'Myanmar', 'Australia']
[61833.9, 68441.85, 59785.94, 73889.99, 53852.85, 24593.33, 68862.0, 55642.32]
['West Jodi', 'Brandonstad', 'West Colin']